<div style="margin-top: 70px">
  <div style="width: 70vw" class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ngx-datatable
          class="dark material expandable"
          #myTable
          [groupRowsBy]="'groupKey'"
          [rows]="technologies"
          [columnMode]="columnMode.force"
          [headerHeight]="40"
          [footerHeight]="50"
          [limit]="18"
          rowHeight="auto"
          [reorderable]="reorderable"
          (activate)="event($event)"
          [groupExpansionDefault]="true">
          <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader (toggle)="onDetailToggle($event)">
            <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
              <div style="padding-left:5px;">
                <a
                  [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Group"
                  (click)="toggleExpandGroup(group)"
                >
                  <b>Group name: {{ group.value[0].groupName }}</b>
                </a>
              </div>
            </ng-template>
          </ngx-datatable-group-header>
          <!-- Row Column Template -->
          <ngx-datatable-column name="Exp. Pay." prop="" editable="true" frozenLeft="True">
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row"
              let-group="group"
            >
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Technology name" prop="name">
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row"
              let-group="group"
              let-rowHeight="rowHeight"
            >
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
