<app-menu-bar *ngIf="authService.isAuthorized() | async" style="color: white; position: absolute !important; top: 0;" class="col-md-12"></app-menu-bar>
<div
  style="top: 0; left: 0; color: white; margin-top: 90px; display: flex; justify-content: center; width: 100vw;">
  <router-outlet></router-outlet>
</div>
<div class="footer text-center text-light">
  <div>
    Gitik Enterprise (c)2020
  </div>
  <div>
    Беларусь, Гродно, ул.Дарвина 18
  </div>
  <div>
    Защищено авторскими правами
  </div>
</div>
