<app-menu-bar *ngIf="authService.isAuthorized() | async"></app-menu-bar>
<div
  style="top: 0; left: 0; color: white; display: flex; justify-content: center; width: 100vw; min-height: calc(100vh - 70px)">
  <router-outlet></router-outlet>
</div>
<div class="footer text-center text-light">
  <div>
    Gitik Enterprise (c)2020
  </div>
  <div>
    Беларусь, Гродно, ул.Дарвина 18
  </div>
  <div>
    Защищено авторскими правами
  </div>
</div>
<div style="position: absolute; display: flex; justify-content: center; align-items: center; top: 0; left: 0; width: 100vw; height: 100vh;" id="loader">
  <div class="loader">Loading...</div>
</div>
